# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

__pycache__/
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Ignore migration files in the app folders (e.g., SmsProject, dashboard, etc.)
*/migrations/*

# Virtual environment folders
venv/
env/

# Database files
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Secrets
secrets.json

# Django static and media files (optional)
staticfiles/
media/

# Environment variables
.env
