<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messaging App</title>
  </head>
  <body>
    <div class="row">
      <div class="col">
        <h1>Hello!, Welcome to Messaging App</h1>
      </div>
      <div class="col">
        <h1>Login</h1>
        <input type="text" label="Username" />
        <input type="password" label="password" />
        <div>
          <button>Submit</button>
        </div>
      </div>
    </div>
  </body>
</html>
